### Listas

In [2]:
#Crianco uma lista
nomes = ['Jose','Maria', 'Joao']
nomes

['Jose', 'Maria', 'Joao']

In [3]:
print(nomes)

['Jose', 'Maria', 'Joao']

In [4]:
#lista composta
dados = ['Jose', 25, 1.72]
print(dados)

['Jose', 30, 1.72]

In [5]:
# pode ser formada por vários tipos
print(type(dados[0]))
print(type(dados[1]))
print(type(dados[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [6]:
# acessando itens da lista
nome = dados[0]
print(nome)
idade = dados[1]
print(idade)
altura = dados[2]
print(altura)

Jose
30
1.72

In [7]:
# acessando o ultimo item
dados[-1]

1.72

In [8]:
# acessando o penultimo item
dados[-2]

30

### Modificando a lista

In [6]:
nomes = ['Jose','Maria', 'Joao']
nomes

['Jose', 'Maria', 'Joao']

In [7]:
#Adicionando item
nomes.append('Antonio')
nomes

['Jose', 'Maria', 'Joao', 'Antonio']

In [8]:
#Atualizando item da lista
nomes[1] = 31
print(nomes)

['Jose', 31, 'Joao', 'Antonio']

In [9]:
# deletando item da lista
del nomes[1]   
nomes

['Jose', 'Joao', 'Antonio']

### Listas com múltiplas dimensões

In [10]:
# Criando uma lista de listas
listas = [[1,2,3], [4,5,6], [7,8,9]]
listas

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [11]:
linha0 = listas[0]
linha0

[1, 2, 3]

In [12]:
linha2 = listas[2]
linha2

[7, 8, 9]

In [13]:
listas[0][1]

2

### Operacoes com listas

In [14]:
concat1 = linha0 + linha2
concat1

[1, 2, 3, 7, 8, 9]

In [15]:
concat2 = linha0 * 2
concat2

[1, 2, 3, 1, 2, 3]

In [16]:
len(concat2)

6

In [17]:
max(concat2)

3

In [18]:
min(concat2)

1

In [19]:
# inverte
concat2.reverse()
concat2

[3, 2, 1, 3, 2, 1]

In [20]:
# ordenação
concat2.sort()
concat2

[1, 1, 2, 2, 3, 3]

In [21]:
# ordenação invertida 
concat2.sort(reverse=True)
concat2

[3, 3, 2, 2, 1, 1]

### Fatiar/Dividir listas

In [10]:
itens = ['item1', 'item2', 'item3', 'item4']
itens

['item1', 'item2', 'item3', 'item4']

In [14]:
itens[1:]

['item2', 'item3', 'item4']

In [15]:
itens[1:3]

['item2', 'item3']

In [16]:
itens[-2:]

['item3', 'item4']

In [24]:
listas = [[1,2,3], [4,5,6], [7,8,9]]
listas

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [30]:
lista01 = listas[0:2]
lista01

[[1, 2, 3], [4, 5, 6]]

In [49]:
lista13 = listas[1:3]
lista13

[[4, 5, 6], [7, 8, 9]]